header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#sideMenu {
    background-color: lightblue;
    height: flex;
}
#sideMenu ul li {
    list-style: none;
    text-transform: capitalize;
}

#currentUVSpan {
    padding: 5px;
}